.exclaim{
	height: 5px;
	width: 5px;
	background-color: black;
}
.ex1{

}
#e1{}
#e2{top:10px;}
#e3{top:20px;}
#e4{top:30px;}
#{top:40px;}
#f{top:50px;}
#g{top:60px;}
#g{top:70px;}
#g{top:90px;}

.at{
	height: 5px;
	width: 5px;
	background-color: black;
}
#a{}
#b{top:10px;}
#c{top:20px;}
#d{top:30px;}
#e{top:40px;}
#f{top:50px;}
#g{top:60px;}
#g{top:70px;}
#g{top:90px}

.lb{
	height: 5px;
	width: 5px;
	background-color: black;
}
#a{}
#b{top:10px;}
#c{top:20px;}
#d{top:30px;}
#e{top:40px;}
#f{top:50px;}
#g{top:60px;}
#g{top:70px;}
#g{top:90px;}

.lb{
	height: 5px;
	width: 5px;
	background-color: black;
}
#a{}
#b{top:10px;}
#c{top:20px;}
#d{top:30px;}
#e{top:40px;}
#f{top:50px;}
#g{top:60px;}
#g{top:70px;}
#g{top:90px;}

.money{
	height: 5px;
	width: 5px;
	background-color: black;
}
#a{}
#b{top:10px;}
#c{top:20px;}
#d{top:30px;}
#e{top:40px;}
#f{top:50px;}
#g{top:60px;}
#g{top:70px;}
#g{top:90px;}

.percent{
	height: 5px;
	width: 5px;
	background-color: black;
}
#a{}
#b{top:10px;}
#c{top:20px;}
#d{top:30px;}
#e{top:40px;}
#f{top:50px;}
#g{top:60px;}
#g{top:70px;}
#g{top:90px;}

.and{
	height: 5px;
	width: 5px;
	background-color: black;
}
#a{}
#b{top:10px;}
#c{top:20px;}
#d{top:30px;}
#e{top:40px;}
#f{top:50px;}
#g{top:60px;}
#g{top:70px;}
#g{top:90px;}

.star{
	height: 5px;
	width: 5px;
	background-color: black;
}
#a{}
#b{top:10px;}
#c{top:20px;}
#d{top:30px;}
#e{top:40px;}
#f{top:50px;}
#g{top:60px;}
#g{top:70px;}
#g{top:90px;}

.parent{
	height: 5px;
	width: 5px;
	background-color: black;
}
#a{}
#b{top:10px;}
#c{top:20px;}
#d{top:30px;}
#e{top:40px;}
#f{top:50px;}
#g{top:60px;}
#g{top:70px;}
#g{top:90px;}