/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: helvetica, arial, sans-serif;
}

p{font-size: 30px;}

.container {
	position: absolute;
	width:100%;
	height:auto;
}

.row{
	position:relative;
	width:100%;
	height:300px;
}

.item {
	position: relative;
	height: 300px;
	width: 25%;
	/*margin:1%;*/
	/* comment out 'float: left;' to have items stack in a single column */
	float: left; 

}
/* example buttons */
#button-1{
	background-color: #6666ff;
}
	#button-1:hover{
	background-color: white;
	}
#button-2{
	background-color: #6699ff;
	}
#button-2:hover{
	background-color: #3385ff;
	}
#button-3{
	background-color: #8080ff;
	}
	#button-3:hover{
     filter: blur(50px);;
	}
#button-4{
	background-image: url('bw.jpg');
	background-color: #666699;
	}
	#button-4:hover{
		background-blend-mode: screen;
	}
#button-5{
	background-color: blue;
	}
#button-5:hover{
	width: 7%;
	}
#button-6{
	background-color: #3333ff;
	}
	#button-6:hover{
		height:50%;
		margin-top: 150px;
	}
#button-7{
  	background-color: #0000ff;
 	background-image: -webkit-linear-gradient(rgba(204, 253, 255, 0.4), purple);
    -webkit-transition: background-color 400ms ease;
	}
	#button-7:hover{
			background-color: #0066ff;
	}
#button-8:hover{
	border-radius: 30%;
	background-image: url('build');
	background-color: black;
	transition: ease 3s;
}
#button-9{
	margin:50px;
	padding:30px;
	border-radius: 50%;
	height: 150px;
	max-width: 150px;
	background-color: red;
	transition:ease 1s;
}
#button-9:active{
	border-radius: 0%;
	background-color: black;
	transition: height 4s linear;
}
#button-10{
	background-color:#cc0000;
	height: 60%;
	width: 15%;
	margin: 50px;;
}
#button-10:active{
	-webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}

#button-11{
	background-color: #ff5050;
}
#button-12::before{
	background-color: black;
	content:"";
	text-align: center;
	font-size: 30px;
	color:white;
}
	#button-12::after{
	content:"Ow";
	font-size: 40px;
	text-align: center;
	color:red;
	}
#button-13{
	background: orange;
}
#button-13{
  background: orange;
  cursor: move;
  &:hover {
    background: darken(orange, 5);
  }
}

#button-14{
	cursor: pointer;
	outline: none;
	background-color: #4CAF50;
	border:none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
	#button-14:active{
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#button-15{
}
	
#button-16:{
	position: relative;
	background-color: #4CAF50;
	border:none;
	transition-duration: .4s;
	padding:20px;
}
	.button-16:after{
		background: #90EE90;
		display: block;
		position: absolute;
		padding-top: 300%;
		padding-left: 350%;
		margin-left: -120%;
		opacity: 0;
		transition:all .8s;
	}
	.button-16{
		background-color: black;
		padding:0;
		margin:0;
		opacity: 1;
		transition: 0s;
	}
#button-17:{
	border-radius: 4px;
	background-color: #f4511e;
  	border: none;
 	color: #FFFFFF;
  	text-align: center;
  	font-size: 28px;
  	padding: 20px;
  	width: 200px;
  	transition: all 0.5s;
  	cursor: pointer;
  	margin: 5px;
}
	#button-17 span:{
		display: inline-block;
		position: relative;
		transition: .5s;
	}
	#button-17 span:after{
		content: '\00bb';
		position: absolute;
		opacity: 0;
		top:0;
		right:-20px;
		transition: .5s;
	}
	#button-17:hover span {
  		padding-right: 25px;
		}

	.button:hover span:after {
  		opacity: 1;
  		right: 0;
	}

#button-18:{

	
}
#button-19:{
	
}
#button-20{
	background-image: url('build.jpg');
	object-fit: contain;
	
	opacity: 1;
	}
#button-22:hover {
	transform: rotate(90deg) scale(1.5);
	background: pink;
	opacity: .3;
	}
#button-23{
		background-color: #f94040;
	font-size:35px;
}
#button-24{
		background-color: grey;
	font-size:35px;
}
#button-24{
	background-color: grey;
	font-size:35px;
}
#button-34{
background-color: #f94040;
	padding-top:100px;	
}
#button-41{
	overflow: scroll;
	background-color: yellow;
}
